@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}


html,
body,
#root {
  margin: 0!important;
  padding: 0 !important;
  width: 100% !important; 
}


@font-face {
  font-family: 'DS-Digital';
  src: url('./assets/fonts/DS-DIGIT.woff2') format('woff2'),
       url('./assets/fonts/DS-DIGIT.woff') format('woff'),
       url('./assets/fonts/DS-DIGIT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse-heart {
  animation: pulse 1.5s ease-in-out infinite;
}

/* Change the color of the bar */
#nprogress .bar {
  background: #3b82f6 !important;
  top: 6.7rem !important;
  height: 3px !important;
}

/* Optional: Change the spinner color */
#nprogress .spinner-icon {
    border-top-color: #3b82f6 !important;
}

@keyframes floaty {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
}