@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}


html,
body,
#root {
  margin: 0!important;
  padding: 0 !important;
  width: 100% !important; 
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse-heart {
  animation: pulse 1.5s ease-in-out infinite;
}

/* Change the color of the bar */
#nprogress .bar {
  background: #3b82f6 !important;
  top: 6.7rem !important;
  height: 3px !important;
}

/* Optional: Change the spinner color */
#nprogress .spinner-icon {
    border-top-color: #3b82f6 !important;
}

@keyframes floaty {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
}

 .hero-3d-layout {
    @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-40 -top-40 xl:-left-40 right-0;
  }